
body{
    margin: 0;
    padding: 0;
    background-color: #dce6e3;

}

#titulo{
    text-align: center;
    color: white;
}


#sisteminha{
    text-align: center;
    padding-top: 10px;
    line-height: 15px;
}

.visor{
    width: 100%;
    margin-bottom: 15px;
    
}

.carousel {
    background-color: rgb(163, 161, 161);
}